body{
    background: #2c3e507d;
  
}
#logo0{
    color: #fcfffe;   
}
#nav00{
    box-shadow: 2px 2px 0px 1px rgb(49, 79, 96);
}
#About0{
    color: #1abc9c;    
}
#Projects0{
    color: #fcfffe;      
}
#Skills0{
    color: #fcfffe;    
}
#logo0:hover{
    color: #1abc9c; 
}
#About0:hover{
    color: #1abc9c;   
}
#Projects0:hover{
    color: #1abc9c;       
}
#Skills0:hover{
    color: #1abc9c;   
}
#copy00:hover{
    color: #1abc9c;     
}
#github0{
    width: 20px;
    height: 20px;
}
#linkedin0{
    width: 20px;
    height: 20px;
}
#mail0{
    width: 20px;
    height: 20px;
}







   
.container000{
    background: linear-gradient(#2c3e5083,#2c3e50);
    width: 100%;
    }

    .contactlinl0:hover{
        color: #1abc9c;  
    }


    @media (min-width:100px) and (max-width:1000px){
     
        #container000about{
            display: flex;
            flex-direction: column;
            
        }  

        #container000about div{
         margin: 2rem;
        }  

       }
       @media (min-width:1001px){
        .container000{
        height: 34rem;
        }
       }