body{
    background:#385f8383; 
    height: 100vh;
}

.main000{
    height: 100vh;
}
#logo0{
    color: #1abc9c;   
}
#nav00{
    box-shadow: 2px 2px 0px 1px rgb(49, 79, 96);
}
#About0{
    color: #fcfffe;    
}
#Projects0{
    color: #fcfffe;      
}
#Skills0{
    color: #fcfffe;    
}
#logo0:hover{
    color: #1abc9c; 
}
#About0:hover{
    color: #1abc9c;   
}
#Projects0:hover{
    color: #1abc9c;       
}
#Skills0:hover{
    color: #1abc9c;   
}
#copy00:hover{
    color: #1abc9c;     
}

#logo_image{
    border: 2px solid #1abc9c;
}

.border0icon:hover{
   border: #1abc9c solid 1px;
   background: #2c3e50;
}

#logo_image{
    border-radius: 50%;
}
#logo_image:hover{
    border: 2px solid #1abc9c;
}

   
.container00{
    /* background: linear-gradient(#4d6f8e83,#425c787d); */
    height: 39rem;
    width: 100%;
    position: relative;
    /* border-radius: 5%; */
   
    }
    .container00::after{
        content: "";
        width: 100%;
        height: 100%;
        background: #59718a7d;
        position: absolute;
        right: 0;
        top: 0;
       clip-path: circle(40% at right);
       /* border-radius: 5%; */
      z-index: 0;
    }
    .content0{
        display: flex;
        height: 100%;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .image00{
        z-index: 100;
    }
    .container00 .text0{
    color: white;
    width: 40%;
    }
    .container00 .text0 h2{
       text-transform: uppercase;
       font-size: 5rem;
       color:#2c3e50; ;
       border-bottom: 1px solid #2c3e50;
        }

        .container00 .text0 p{
            color: #2c3e50;
            font-size: 2rem;
             }  

        .container00 .image00{
            mix-blend-mode: multiply;
        }
        .container00 .image00 img{
            width: 20rem ;
            border-radius: 20%;
             }   



        






/* ------------------------------------------------ */
             p {
                border-right: solid 3px rgba(0,255,0,.75);
                white-space: nowrap;
                overflow: hidden;    
                font-family: 'Source Code Pro', monospace;  
                font-size: 28px;
                color: rgba(255,255,255,.70);
              }
              
              /* Animation */
              p {
                animation: animated-text 1s steps(29,end) 0s 1 normal both,
                           animated-cursor 600ms steps(29,end) infinite;
              }
              
              /* text animation */
              
              @keyframes animated-text{
                from{width: 0;}
                to{width: 27rem;}
              }
              
              /* cursor animations */
              
              @keyframes animated-cursor{
                from{border-right-color: rgba(62, 71, 96, 0.75);}
                to{border-right-color: transparent;}
              }

.text0 button {
    background: #385878a3;
    box-shadow: 1px 1px 0px 1px #384551;
    border-radius: 10px;
    width: 7rem;
    height: 5rem;
    margin-left: 8rem;
    
}
.text0 button {
   text-decoration: none;
   color:  #1abc9c;
   font-size: larger;
   animation: button00 2s ease-in-out infinite;
   stroke: #1abc9c;
}

.text0 button:hover {
  scale: 1.2;
  transition-duration: 1s;
  letter-spacing: 0.2em;
}

@keyframes button00{

    0%{color:  #1abc9c;}
    30%{color:  #25b17e;}
    60%{color: #12486c;}
   90%{color:  #1c0fa5;}

     }


             @media (min-width:950px) and (max-width:1150px){
     
               
                .container00 .image00 img{
                    width: 15rem ;
                     }   
               }


               @media (min-width:100px) and (max-width:949px){
                .container00::after{
            
                   
                    bottom: 0;
                   clip-path: circle(60% at bottom);
                  
                }
                .content0{

                flex-direction: column;
                justify-content: space-around;
                align-items: center;
               }
            
            
                .container00 .image00 img{
                    width: 10rem ;
                    border-radius: 20%;
                     }  
                     .text0{
                        margin-right: 2rem;
              
            }
           

            .container00 .text0 h2{
                text-transform: uppercase;
                font-size: 2rem;
                 }
         
                 .container00 .text0 p{
                     
                     font-size: 1rem;
                      } 


                      p {
                        border-right: solid 3px rgba(0,255,0,.75);
                        white-space: nowrap;
                        overflow: hidden;    
                        font-family: 'Source Code Pro', monospace;  
                        font-size: 1rem;
                        color: rgba(255,255,255,.70);
                      }
                      
                      /* Animation */
                      p {
                        animation: animated-text 3s steps(29,end) 0s 1 normal both,
                                   animated-cursor 600ms steps(29,end) infinite;
                      }
                      
                      /* text animation */
                      
                      @keyframes animated-text{
                        from{width: 0;}
                        to{width: 14rem;}
                      }
                      
                      /* cursor animations */
                      
                      @keyframes animated-cursor{
                        from{border-right-color: rgba(62, 71, 96, 0.75);}
                        to{border-right-color: transparent;}
                      }


                      .text0 button {
                   
                        margin-left: 2rem;
                        
                    }

            }

            .home-herosocials {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: #464f832a;
                box-shadow: 2px 2px 0px 1px #385878a3;
                padding: .5rem;
              border-radius: 10%;
            }

            .home-herosocials div {
              margin-bottom: 5px;
            }
            .home-herosocial:hover {
               border: #1abc9c solid 2px; 
                border-radius: 50%;
              }
            
            @media only screen and (max-width: 56.25em) {
                .home-herosocials {
                    display:none
                }
            }